:root {
  --col1: #cd5c08;
  --col2: #f5e8b7;
  --col3: #c1d8c3;
  --col4: #619c89;
}

.container{
  border: 5px #000 solid;
  display: flex;
  height: 90vh;
}
.box{
  width: 7rem;
  border-radius: 5px;
  height: 7rem;
  text-align: center;
  font-size: 5rem;
}
#box1{
  background: var(--col1);
}
#box2{
  background: var(--col2);
}
#box3{
  background: var(--col3);
}
#box4{
  background: var(--col4);
}


