<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css')}}"
    />
    <title>House Pricing</title>
  </head>
  <body>
    <div class="main">
      <div class="hero">
        <h1>Welcome to House Pricing Checker</h1>
        <p>
          Predict the price of your dream home with our accurate and reliable
          house pricing predictor.
        </p>
        <a href="/login">
          <button>Get started</button>
        </a>
      </div>
    </div>
  </body>
</html>
