<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="card">
        <div class="left">
            <img src="{{ url_for('static', filename='assets/Woman.jpg')}}">
        </div>
        <div class="right">
            <form action="/login" method="POST">
                <h1>LOGIN</h1>
                <p>Username:</p>
                <input type="text" name="username" placeholder="Enter your username">
                <p>Password:</p>
                <input type="password" name="password" placeholder="Enter your username">
                <br><br><button type="submit">SUBMIT</button>
                <br><a href="/register">Dont Have an account?</a>
            </form>
        </div>
    </div>
</body>
</html>